{% load static %}

<div id="carousel">
    <div class='autoplay'>
      <div class="carousel-element"><img src="{% static 'propylon/images/python.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/html-css.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/postgresql.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/django.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/javascript.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/nginx.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/rails.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/flask.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/webpack.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/bash.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/inkscape.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/scss.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/github.jpg'%} " alt=""></div>
      <div class="carousel-element"><img src="{% static 'propylon/images/digitalocean.jpg'%} " alt=""></div>
    </div>
  </div>

