
{% load static %}

<div id="nav-upper"></div>
<div id="nav-lower">

    <img src="{% static 'propylon/images/propylon-logo.png' %} " alt="logo">

    <div>    
        <div class="dropdown">
            <button class="dropbtn">About Us <span>&#8964;</span></button>
            <div class="dropdown-content">
                <a href="#">Leadership</a>
                <a href="#">Careers</a>
                <a href="#">Newsletter</a>
            </div>
        </div>
        
        <div class="dropdown">
            <button class="dropbtn">Legislative Solutions <span>&#8964;</span></button>
            <div class="dropdown-content">
                <a href="#">LWB 360</a>
                <a href="#">LWB 360 Council</a>
                <a href="#">LWB 360 Smartvote</a>
            </div>
        </div>

        <button class="dropbtn">Legal Research Solution</button>
        <button class="dropbtn">Big Four Firms</button>
        <button class="dropbtn">Legal Publishers</button>
        <button class="dropbtn">Insights</button>

    </div>
</div>