


.slick-arrow::before {
    color: #4a8ff0;
    opacity: 1;
}


#carousel {
    padding: 80px;
}

.carousel-element {
    img {
        // width: 250px;
        height: 140px;
        margin: 0 auto;
    }
}