


#nav-upper {
    height: 30px;
    background-color: #14273a;
}

#nav-lower {
    height: 60px;
    background-color: #23394e;
    position: sticky; 
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    img {
        height: 24px;
    }
}


.dropbtn {
    font-family: $base-font; 
    background-color: $color-base;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-bottom: 3px solid $color-base;
    &:hover {
        background-color: #14273a;
        border-bottom: 3px solid red;
    }
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 200px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    font-size: 12px;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(35, 57, 78, 0.56);
    &:hover {
        background-color: $color-base;
        color: white;
    }
  }
  
  .dropdown:hover .dropdown-content {display: block;}
